  <tr>
    <td><a href="#" onClick="updateInformation('this.informationID')">Edit</a></td>
    <td><a href="#" onclick="deleteInformation('this.information')">Delete</a></td>  <!-- doesn't work because in a seperate file? -->

    <td align="right" >{{informationID}}</td>
    <td >{{distance}}</td>
	
    <td align="right" >{{size}}</td>
    <td>{{material}}</td>
    <td>{{explored}}</td>
    <td>{{lifeDiscovered}}</td>
    <td>{{pid}}</td>
    <td>{{fid}}</td>
  </tr>