{{!-- Just some plain text --}}

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_client.js"></script>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="clients-table">
    <thead>
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr data-value={{this.clientID}}>>
            <td>{{this.clientID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
            <td>
            <td><button onclick="deleteClient({{this.clientID}})">Delete</button></td>
        </td>
        </tr>
        {{/each}}
    </tbody>
</table>




{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below and click `Submit`!</p>


<form id="add-client-form" method="POST" action="/add-client-form">

    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName">
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form> 





<h2>Update an Client</h2>
<p>Select client from the drop-down menu</p>
<form id="update-client-form">

    <label for="input-client">Client: </label>
    <select name="input-client" id="mySelectClient">
        <option value="test">Select a Client</option>
        {{#each data}}
        <option value="{{this.clientID}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-firstName-u">First Name: </label>
    <input type="text" name="input-firstName-u" id="input-firstName-u">

    <label for="input-lastName-u">Last Name: </label>
    <input type="text" name="input-lastName-u" id="input-lastName-u">

    <label for="input-phone-u">Phone: </label>
    <input type="text" name="input-phone-u" id="input-phone-u">

    <label for="input-email-u">Email: </label>
    <input type="text" name="input-email-u" id="input-email-u">

    <input type="submit">
</form>

<script src="./js/update_client.js"></script>