{{!-- Just some plain text --}}

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="clients-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the pphone renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, firstName, lastName, email and phone, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.clientID}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>



{{!-- Form to add a record to the table using standard HTML forms --}}
<h2>Adding Data using an HTML form</h2>
<p>To add a new person, please enter their information below and click `Submit`!</p>


<form id="add-client-form" method="POST" action="/add-client-form">

    <label for="input-firstName">First Name: </label>
    <input type="text" name="input-firstName" id="input-firstName">
    
    <label for="input-lastName">Last Name: </label>
    <input type="text" name="input-lastName" id="input-lastName">

    <label for="input-phone">Phone: </label>
    <input type="text" name="input-phone" id="input-phone">

    <label for="input-email">Email: </label>
    <input type="text" name="input-email" id="input-email">

    <input type="submit">
</form> 

<h2>Updating A Client's Planet Form</h2>
<p>To update a client's planet, select their name from the drop-down menu on the left and the desired planet from the drop down menu on the right!</p>
<form id="update-client-form">

    <label for="input-clientName">Client full name: </label>
    <select name="input-clientName" id="pClient">
        <option value="test">Choose a Client</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <label for="input-planet">Planet: </label>
    <select name="input-planet" id="input-planet">
        <option>Select a Planet</option>
        {{#each planets}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
    </select>
    <input type="submit">

</form>

<script src="./js/update_planet.js"></script>

<table id="client-table">>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th>delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.id}}>>
            <td>{{this.id}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.phone}}</td>
            <td>{{this.email}}</td>
            <td><button onclick="deleteClient({{this.id}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_client.js"></script>
