<html>
<head>
<title>Fun Facts</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'search'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
			else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('search').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function searchFunFact() { showform('search'); }
    function newFunFact() { showform('insert'); }
    function updateFunFact(cid) { showform('update'); }
    function deleteFunFact(cid) { showform ('delete'); }
    function browseFunFacts() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseFunFacts()">
<h1>Fun Facts</h1>


<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newFunFact()">New</a></th>
    <th></th>
    <th>Id</th>
    <th>Fun Fact</th>
  </tr>
  {{#each funFacts}}
  	{{> funFactRow}}
  {{/each}}

</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="search">
    <form method="POST" id="searchFunFact">
        <legend><strong>Search FunFact</strong></legend>
          <fieldset class="fields">
            <label> Fun Fact </label> <input type="text" name="firstName">
      </fieldset>
          <input class="btn" type="submit" id="searchFunFact" value="Search FunFact">
          <input class="btn" type="button" value="Cancel" onClick="searchFunFacts()">
	</form> 
</div><!-- search -->
<p>&nbsp;</p>

<div id="insert">
    <form method="POST" id="addFunFact">
        <legend><strong>Add FunFact</strong></legend>
          <fieldset class="fields">
            <label> Fun Fact </label> <input type="text" name="firstName">
      </fieldset>
          <input class="btn" type="submit" id="addFunFact" value="Add FunFact">
          <input class="btn" type="button" value="Cancel" onClick="browseFunFacts()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateFunFact">
        <legend><strong>Update FunFact</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="funFactID" id="updatefunFactID" value={{funFacts.0.funFactID}}>
          <label> ID: </label> 

			<td><select>
				<option value="planetID">Select a Fun Fact ID</option>
				<option value="1">1, Saturn could...</option>
				<option value="2">2, Mercury is the...</option>
				<option value="3">3, Venus is the...</option>
			</select></td>

	
			<textarea id="updateFunFact" name="funFactID" rows="3" cols="30" style="font-family: Arial">{{funFacts.0.funFact}}
			</textarea>
	
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveFunFact" value="Save Update Fun Fact">
          <input class="btn" type="button" value="Cancel" onClick="browseFunFacts()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteFunFact">
      <legend><strong>Delete FunFact</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="funFactID" id="deletefunFactID" value={{funFacts.0.funFactID}}>
          <label><strong>ID:</strong></label> {{funFacts.0.funFactID}}
		  <label> <strong>Fun Fact: </strong> </label> {{funFacts.0.funFact}}
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteFunFact" value="Delete Fun Fact">
	<input class="btn" type="button" value="Cancel" onClick="browseFunFacts()">
  </form> 
</div><!-- delete -->
<p>&nbsp;</p>

</body>
</html>
