<!-- 
citation scope: Node Starter App Step 8
date: 12/04/2022
originality: based
source https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data/views
-->

{{!-- Just some plain text --}}

<h1>Information of Planets</h1>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
			<th>ID</th>
			<th>Distance from earth (mi)</th>
			<th>Size</th>
			<th>Material</th>
			<th>Explored</th>
			<th>Life Discovered</th>
			<th>Planet Name</th>
			<th>Fun Fact</th>
		</tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.infoID}}</td>
            <td>{{this.distance}}</td>
            <td>{{this.size}}</td>
            <td>{{this.material}}</td>
            <td>{{this.explored}}</td>
            <td>{{this.lifeDiscovered}}</td>
            <td>{{this.pid}}</td>
            <td>{{this.ffid}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
