<!-- 
citation scope: Node Starter App Step 8
date: 12/04/2022
originality: based
source https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data/views
-->

{{!-- Just some plain text --}}

<h1>Planets</h1>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Planet ID</th>
			<th>For Sale</th>
			<th>Planet Name</th>
			<th>Client (owner/SID)</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.planetID}}</td>
            <td>{{this.forSale}}</td>
            <td>{{this.planetName}}</td>
            <td>{{this.sid}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Update a Planet</h2>
<p>Select Planet from the drop-down menu</p>
<form id="update-planet-form">

    <label for="input-planet">Planet: </label>
    <select name="input-planet" id="mySelectPlanet">
        <option value="test">Select a Planet</option>
        {{#each data}}
        <option value="{{this.planetID}}">{{this.planetName}}</option>
        {{/each}}
    </select>

    <label for="input-forSale-u">For Sale: </label>
    <input type="text" name="input-forSale-u" id="input-forSale-u">

    <label for="input-planetName-u">Planet Name: </label>
    <input type="text" name="input-planetName-u" id="input-planetName-u">

    <input type="submit">
</form>

<script src="./js/update_planet.js"></script>