{{!-- Just some plain text --}}

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr>
            <td>{{this.planetID}}</td>
            <td>{{this.forSale}}</td>
            <td>{{this.planetName}}</td>
            <td>{{this.sid}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<h2>Update a Planet</h2>
<p>Select Planet from the drop-down menu</p>
<form id="update-planet-form">

    <label for="input-planet">Planet: </label>
    <select name="input-planet" id="mySelectPlanet">
        <option value="test">Select a Planet</option>
        {{#each data}}
        <option value="{{this.planetID}}">{{this.planetName}}</option>
        {{/each}}
    </select>

    <label for="input-forSale-u">For Sale: </label>
    <input type="text" name="input-forSale-u" id="input-forSale-u">

    <label for="input-planetName-u">Planet Name: </label>
    <input type="text" name="input-planetName-u" id="input-planetName-u">

    <input type="submit">
</form>

<script src="./js/update_planet.js"></script>