<html>
<head>
<title>Planets</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
			else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newPlanet() { showform('insert'); }
    function updatePlanet(cid) { showform('update'); }
    function deletePlanet(cid) { showform ('delete'); }
    function browsePlanets() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browsePlanets()">
<h1>Planets</h1>


<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newPlanet()">New</a></th>
    <th></th>
    <th>Id</th>
    <th>For Sale</th>
    <th>Planet Name</th>
    <th>Sale ID (sid)</th>
  </tr>
  {{#each planets}}
  	{{> planetRow}}
  {{/each}}

</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addPlanet">
        <legend><strong>Add Planet</strong></legend>
          <fieldset class="fields">
            <label> For Sale</label> <input type="text" name="firstName">
            <label> Planet Name </label> <input type="text" name="lastName"> <!-- NAME ON ALL THE FILES -->
            <label> Sale ID (sid) </label> <input type="text" name="phone">
      </fieldset>
          <input class="btn" type="submit" id="addPlanet" value="Add Planet">
          <input class="btn" type="button" value="Cancel" onClick="browsePlanets()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdatePlanet">
        <legend><strong>Update Planet</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="planetID" id="updateplanetID" value={{planets.0.planetID}}>
          <label> ID: </label> {{planets.0.planetID}}
            <label> For Sale </label> <input type="text" name="firstName" value={{planets.0.forSale}}>
            <label> Planet Name </label> <input type="text" name="lastName" value={{planets.0.planetName}}>
            <label> Sale ID (sid) </label> <input type="text" name="phone" value={{planets.0.sid}}>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSavePlanet" value="Save Update Planet">
          <input class="btn" type="button" value="Cancel" onClick="browsePlanets()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deletePlanet">
      <legend><strong>Delete Planet</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="planetID" id="deleteplanetID" value={{planets.0.planetID}}>
          <label><strong>ID:</strong></label> {{planets.0.planetID}}
		  <label> <strong>Planet Name: </strong> </label> {{planets.0.planetName}}
		  <label> <strong>Sale ID: </strong> </label> {{planets.0.sid}}
            
    </fieldset>
    <input class="btn" type="submit" id="DeletePlanet" value="Delete Planet">
	<input class="btn" type="button" value="Cancel" onClick="browsePlanets()">
  </form> 
</div><!-- delete -->

</body>
</html>
