{{!-- Just some plain text --}}

<h1>The server is running!</h1>
<p>If you see this text, the server is <strong>definitely</strong> working!</p>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_sale.js"></script>

{{!-- The Data from our Database --}}

{{!-- Create a table --}}
<table id="sales-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
			<tr data-value={{this.saleID}}>>
				<td>{{this.saleID}}</td>
				<td>{{this.date}}</td>
				<td>{{this.price}}</td>
				<td>{{this.cid}}</td>
				<td><button onclick="deleteSale({{this.saleID}})">Delete</button></td>
			</tr>
        {{/each}}





    </tbody>
</table>