<!-- 
citation scope: Node Starter App Step 8
date: 12/04/2022
originality: based
source https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data/views
-->

{{!-- Just some plain text --}}

<h1>Sales of Planets</h1>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="./js/delete_sale.js"></script>

<table id="sales-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
		    <th>Sale ID</th>
			<th>Date</th>
			<th>Price</th>
			<th>Client</th>
            <th>Delete</th>	
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>


        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
			<tr data-value={{this.saleID}}>
                <td>{{this.saleID}}</td>
                <td>{{this.date}}</td>
				<td>{{this.price}}</td>
                <td>{{this.firstName}} {{this.lastName}}</td>
				<td><button onclick="deleteSale({{this.saleID}})">Delete</button></td>
			</tr>
        {{/each}}
    </tbody>
</table>

<h2>Sales</h2>
<p>Add Sale</p>

<form id="add-sales-form" method="POST" action="/add-sales-form">

    <label for="input-date">Date: </label>
    <input type="date" name="input-date" id="input-date">


    <label for="input-price">Price: </label>
    <input type="text" name="input-price" id="input-price">

    <select name="input-cid" id="input-cid">
        <option value="test">Select ClientID</option>
        {{#each data}}
        <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form> 