<html>
<head>
<title>Sales</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'search'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
			else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('search').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('search').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function searchSale() { showform('search'); }
    function newSale() { showform('insert'); }
    function updateSale(cid) { showform('update'); }
    function deleteSale(cid) { showform ('delete'); }
    function browseSales() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseSales()">
<h1>Sales</h1>


<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table border="1" cellpadding="5">
  <tr>
    <th><a href="#" onClick="newSale()">New</a></th>
    <th></th>
    <th>Id</th>
    <th>Date</th>
    <th>Price</th>
    <th>Planet Name (cid)</th>
  </tr>
  {{#each sales}}
  	{{> saleRow}}
  {{/each}}

</table>
<p>&nbsp;</p>
</div> <!-- browse -->

<div id="search">
    <form method="POST" id="searchSale">
        <legend><strong>Search Sale</strong></legend>
          <fieldset class="fields">
            <label> Date </label> <input type="text" name="firstName">
            <label> Price </label> <input type="text" name="lastName">
            <label> Planet Name (cid) </label> <input type="text" name="phone">
      </fieldset>
          <input class="btn" type="submit" id="searchSale" value="Search Sale">
          <input class="btn" type="button" value="Cancel" onClick="searchSales()">
	</form> 
</div><!-- search -->
<p>&nbsp;</p>

<div id="insert">
    <form method="POST" id="addSale">
        <legend><strong>Add Sale</strong></legend>
          <fieldset class="fields">
            <label> Date </label> <input type="text" name="firstName">
            <label> Price </label> <input type="text" name="lastName">
            <label> Planet Name (cid) </label> <input type="text" name="phone">
      </fieldset>
          <input class="btn" type="submit" id="addSale" value="Add Sale">
          <input class="btn" type="button" value="Cancel" onClick="browseSales()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
    <form method="POST" id="UpdateSale">
        <legend><strong>Update Sale</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="saleID" id="updatesaleID" value={{sales.0.saleID}}>
          <label> ID: </label> {{sales.0.saleID}}
            <label> Date </label> <input type="text" name="firstName" value={{sales.0.date}}>
            <label> Price </label> <input type="text" name="lastName" value={{sales.0.price}}>
            <label> Planet Name (cid) </label> <input type="text" name="phone" value={{sales.0.cid}}>
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveSale" value="Save Update Sale">
          <input class="btn" type="button" value="Cancel" onClick="browseSales()">
	</form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteSale">
      <legend><strong>Delete Sale</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="saleID" id="deletesaleID" value={{sales.0.saleID}}>
          <label><strong>ID:</strong></label> {{sales.0.saleID}}
		  <label> <strong>Planet Name: </strong> </label> {{sales.0.cid}}
            
    </fieldset>
    <input class="btn" type="submit" id="DeleteSale" value="Delete Sale">
	<input class="btn" type="button" value="Cancel" onClick="browseSales()">
  </form> 
</div><!-- delete -->
<p>&nbsp;</p>

</body>
</html>
